apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dual-config-matrix-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - matrix:
        generators:
          # First generator: Read config.json from configs repo
          - git:
              repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
              revision: main
              files:
                - path: "configs/overlays/*/*/config.json"
              pathParamPrefix: app

          # Second generator: Read ONLY the matching live config
          # Uses {{.configLiveDir}} from first generator to load the correct file
          - git:
              repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
              revision: main
              files:
                - path: "live-configs/{{.configLiveDir}}/config.json"
              pathParamPrefix: live

  template:
    metadata:
      name: 'bhushan-test-{{.appName}}'
      labels:
        appName: '{{.appName}}'
        appRepoBranch: '{{.appRepoBranch}}'
        environment: '{{.environment}}'
      annotations:
        appRepoUrl: '{{.appRepoUrl}}'
        commitSHA: '{{.commit_sha}}'
        argocd-image-updater.argoproj.io/git-branch: '{{.srcRepoBranch}}'
        argocd-image-updater.argoproj.io/image-list: '{{.argocdUpdaterImageList}}'
        argocd-image-updater.argoproj.io/write-back-method: git
        argocd-image-updater.argoproj.io/app1.update-strategy: '{{.argocdUpdateStrategy | default "digest"}}'
        argocd-image-updater.argoproj.io/app1.force-update: "true"
    spec:
      project: default
      destination:
        namespace: bhushan-test
        server: https://kubernetes.default.svc
      revisionHistoryLimit: 3
      syncPolicy:
        syncOptions:
          - CreateNamespace=false
  templatePatch: |
    spec:
      sources:
        - repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
          path: '{{.app.path.path}}'
          targetRevision: main
        - repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
          path: 'live-configs/{{.configLiveDir}}'
          targetRevision: main
