apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dual-config-matrix-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - matrix:
        generators:
          # First generator: Read config.json from configs repo
          - git:
              repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
              revision: main
              files:
                - path: "configs/overlays/*/*/config.json"

          # Second generator: Read config.json from live-configs repo
          - git:
              repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
              revision: main
              files:
                - path: "live-configs/*/*/config.json"

  template:
    metadata:
      # Only create application when matchKeys match (prevents Cartesian product)
      # We compare matchKey values from both generators
      name: '{{.appInstance}}'
      labels:
        # Labels from configs/config.json (prefixed with app*)
        environment: '{{.appEnvironment}}'
        instance: '{{.appInstance}}'
        team: '{{.appTeam}}'
        tier: '{{.appTier}}'
        component: '{{.appComponent}}'
        app-name: '{{.appName}}'
        # Labels from live-configs/config.json (prefixed with live*)
        live-config-version: '{{.liveConfigVersion}}'
      annotations:
        # Values from configs/config.json
        app.replicas: '{{.appReplicas}}'
        app.image: '{{.appImageRepository}}:{{.appImageTag}}'
        # Values from live-configs/config.json
        live.db.host: '{{.liveDbHost}}'
        live.db.port: '{{.liveDbPort}}'
        live.db.name: '{{.liveDbName}}'
        live.vault.path: '{{.liveVaultPath}}'
        live.resources.cpu: '{{.liveCpu}}'
        live.resources.memory: '{{.liveMemory}}'
    spec:
      project: default
      sources:
        # Source 1: Application base configs from configs repo
        - repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
          targetRevision: main
          path: '{{.path.path}}'

        # Source 2: Live environment configs from live-configs repo
        - repoURL: https://github.com/drtinkerer/argocd-matrix-generator-test.git
          targetRevision: main
          path: 'live-configs/{{.appConfigLiveDir}}'

      destination:
        namespace: '{{.appNamespace}}'
        server: https://connectgateway.googleapis.com/v1beta1/projects/178065171687/locations/europe-west3/gkeMemberships/gke-fa-dev

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
